/* Definir uma cor de fundo para o site */
body {
    background-color: #ffffff;
}

/* Personalizar a navbar */
.navbar {
    background-color: #017cff;
}

.navbar-brand {
    color: #000000;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #000000;
    padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
    background-color: #0056b3;
    color: #ffffff;
}

/* Estilo personalizado para os formulários */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button {
    background-color: #007bff;
    border: none;
    font-weight: bold;
}

form button:hover {
    background-color: #0056b3;
}

/* Títulos centrais */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #007bff;
}

/* Layout das colunas */
.container {
    margin-top: 50px;
}

/* Ajuste nos inputs de formulário */
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ced4da;
}

/* Rodapé customizado */
footer {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    position: absolute;
    width: 100%;
    bottom: 0;
}

