{% extends 'base.html' %}

{% block title %}Cadastro{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Cadastro</h1>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ form.nome.id_for_label }}">Nome</label>
                    {{ form.nome }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="{{ form.idade.id_for_label }}">Idade</label>
                    {{ form.idade }}
                </div>
                <div class="form-group">
                    <label for="{{ form.senha.id_for_label }}">Senha</label>
                    {{ form.senha }}  <!-- Campo de senha -->
                </div>
                <button type="submit" class="btn btn-primary w-100">Salvar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
